@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  display: block;
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

:root {
  --ff-default: 'Roboto', sans-serif;
  --fs-default: 1rem;
  --fs-small: calc(var(--fs-default) * .85);
  --fs-medium: calc(var(--fs-default) * 1.25);
  --fs-big: calc(var(--fs-default) * 1.5);
  --fs-large: calc(var(--fs-default) * 2);


  --clr-primary:  rgb(48, 163, 230);
  --clr-primary-extra-light:  rgb(48, 163, 230, 10%);
  --clr-primary-light:  rgb(48, 163, 230, 50%);
  --clr-accent: white;
  --clr-accent-dark: black;
}

body {
  font-family: var(--ff-default);  
}

#root {
  width: 100%;  
}

.content  {
  width: min(90%, 50rem);  
  margin-inline: auto;
}

form:not(.message-input), .chat-preview-header, .chat-preview-body, .chat-preview, .header-chat, .messages {
  display: flex;
}

.chat-preview-header, .chat-preview-body, .chat-preview {
  flex-direction: row;
  justify-content: space-between;
}

form:not(.message-input) {
  flex-direction: column;  
  border-radius: 1rem;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form:not(.message-input) legend, form:not(.message-input) button {
  background-color: var(--clr-primary);
  color: var(--clr-accent);
  font-weight: 700;
  text-align: center;
}

form:not(.message-input) button {
  margin-top: 2rem;
  transition: all .5s ease;

}

form:not(.message-input) button:hover {
  cursor: pointer;
  background-color: var(--clr-accent-dark);
  transition: all .5s ease;
  letter-spacing: .1rem;
}

form a:hover {
  cursor: pointer;
  color: var(--clr-accent-dark);
  text-decoration: underline;
  color: var(--clr-accent-dark);
}

form legend {
  font-size: var(--fs-large);  
  padding: 7%;
  border-radius: 1rem 1rem 0 0;
  text-transform: capitalize;
  
}

.header-chats, .header-settings  {
  padding-top: 2rem;
}

.container {
  margin-inline: auto;
}

fieldset,form legend {
  width: 100%;
}

.form-body, .form-footer {
  padding: 7%;
}

.form-footer {
  margin-inline: auto;
  text-align: center;
}

.form-footer  h1 {
  font-size: var(--fs-big);
  font-weight: 700;
  margin-bottom: 3rem;
}

.form-footer  h1 a{
  margin-right: 1rem;

}

.form-footer p {
  opacity: .7;
  margin-bottom: 1rem;
}

.form-footer a {
  text-transform: uppercase;
  color: var(--clr-primary);
  font-weight: 700;
  text-align: center;
}


form button, input:not(.message-input input) {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

input:not(.message-input input) {
  background-color: lightgray;  
}

input:not(.message-input input):focus {
  border: 2px  solid black;
}

::placeholder {
  font-weight: 700;  
}

form button {
  text-transform: uppercase;
}

form .names {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.error {
  font-size: var(--fs-default);
  color: red;  
  font-style: italic;
  font-size: var(--fs-small);
}

.error h1 {
  margin-bottom: .5rem;
}

.form-wrap {
  width: min(90%, 35rem);  
  margin-top: 3%;
}

nav h1 {
  font-weight: 600;
  font-size: var(--fs-big);
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}


nav ul li svg {
  fill: var(--clr-primary);
}

nav ul svg:hover {
  fill: var(--clr-accent-dark);
  transition: all .5s ease;
  cursor: pointer;
}



.chat-preview {
  padding: 3%;
}

.chat-preview span {
  margin-left: 1rem;
  opacity: .7;
  font-style: italic;
  font-size: var(--fs-small);
}

.chat-preview:hover {
  cursor: pointer;
  background-color: lightgray;
}


.chat-preview h1{
  font-size: var(--fs-medium);
  font-weight: 500;
  margin-bottom: 1rem;

}

.chat {
  background-color: var(--clr-primary-extra-light);
}

.chat-preview h2 {
  font-size: var(--fs-small);
  opacity: .7;
}

.chat-preview p {
  opacity: .7;
}

.chats {
  display: flex;
  flex-direction: column;  
}

.header-chat {
  background-color: var(--clr-primary-light);
  gap: 2rem;
  padding: 1rem;
  align-items: center;  
}

.header-chat h1 {
  font-size: var(--fs-big);
  font-weight: 600;
  color: var(--clr-accent);
}

.header-chat svg {
  fill: var(--clr-accent);
}

.header-chat svg:hover {
  cursor: pointer;
  fill: var(--clr-accent-dark);
}

.messages {
  gap: 1rem;
  flex-direction: column;    
  min-height: 50vh;
  max-height: 70vh;
  overflow-y: scroll;
}

.message {  
  padding: 1rem;  
  max-width: 80%;
  min-width: 50%;
}

.message p{
  font-weight: 500;
}

.message-content {
  margin-bottom: 1rem;
}

.message-time {
  text-align: right;
  opacity: .7;
  font-size: var(--fs-small);
}

.message-user {
  background-color: var(--clr-primary);
  color: white;
  margin-left: auto;
  border-radius: 1rem 1rem 0 1rem;
}

.message-partner {
  margin-right: auto;
  background-color: var(--clr-accent);
  color: black;
  border-radius: 1rem 1rem 1rem 0;
}

.message-date {
  text-align: center;
  opacity: .7;
  margin-block: 1rem;
}

.message-input-field {
  background-color: var(--clr-accent);  
  width: 100%;  
  padding: 5% 1rem;   
}



.message-input textarea{
    width: 100%;
    word-wrap:break-word;   
    padding: .5rem;
    flex-basis: 100%;   
    border: 1px solid var(--clr-primary);
    border-radius: .5rem;
    display: block;
    overflow: hidden;
    resize: none;
}


.message-input button {
  padding: 0;
  margin: 0 1rem;
  width: min-content;
  color: var(--clr-primary);
  font-weight: 700;
  
}

.message-input button:hover {
  color: var(--clr-accent-dark);
  cursor: pointer;
}

.message-input {
  display: flex;
}

.error-msg {
  text-align: center;
}

.header-settings ul{  
  align-items: center;  
  justify-content: flex-start;
  gap: 10%;
}

.form-settings {
  padding: 1rem;
}

.form-settings div {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.form-settings input {
  border-radius: 0 !important;
}

.form-settings label {
    font-size: var(--fs-medium);
    font-style: italic;    
    margin-bottom: 1rem;    
}

.btn-disabled {
  opacity: .7;
  cursor: not-allowed !important;
}

.btn-disabled:hover {
  background-color: var(--clr-primary) !important;  
  letter-spacing: 0 !important;
}

.settings-user-info {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 5rem;
}

.settings-user-info h1 {
  font-size: var(--fs-big);
  font-weight: 600;
}

.settings-user-info p {
  font-style: italic;
  opacity: .7;
  font-weight: 300;
}

.settings-user-info button{
  text-transform: uppercase;
  font-weight: 900;
  font-size: var(--fs-large);
  color: var(--clr-primary);
  width: min-content;
  margin-inline: auto;
}

.settings-user-info button:hover {
  cursor: pointer;
  color: var(--clr-accent-dark);
  transition: all .5s ease;
}

.btn-disabled {
  opacity: .7;
}

.anotation {
  opacity: .7;
}

.anotation span {
  font-style: italic;
  
}

@media (max-width: 32rem) {
  .form-wrap {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .form-wrap form {
    height: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .form-wrap form legend {
    border-radius: 0;

  }
}